[*.cs]

# SYSLIB1096: Convert to 'GeneratedComInterface'
dotnet_diagnostic.SYSLIB1096.severity = none

# IDE0130: Namespace does not match folder structure
dotnet_style_namespace_match_folder = false

# IDE0306: Simplify collection initialization
dotnet_style_prefer_collection_expression = never

# long=>Int64
dotnet_style_predefined_type_for_member_access = false
dotnet_style_predefined_type_for_locals_parameters_members = false
dotnet_diagnostic.IDE0049.severity = error

# this. preferences
dotnet_style_qualification_for_field = true:suggestion
dotnet_style_qualification_for_event = true:suggestion
dotnet_style_qualification_for_property = true:suggestion
dotnet_style_qualification_for_method = true:suggestion

# usings
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = true

# namespace declaration
csharp_style_namespace_declarations = file_scoped:suggestion

# case with {}
csharp_indent_case_contents_when_block = false

# interfaces must start with 'I'
dotnet_naming_rule.interface_should_be_begins_with_i.severity = warning

# enums must start with 'E'
dotnet_naming_symbols.enums.applicable_kinds = enum
dotnet_naming_style.enum_prefix.required_prefix = E
dotnet_naming_style.enum_prefix.capitalization = pascal_case
dotnet_naming_rule.enums_should_start_with_e.symbols = enums
dotnet_naming_rule.enums_should_start_with_e.style = enum_prefix
dotnet_naming_rule.enums_should_start_with_e.severity = warning
